/** Alex Wright **/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** Start of CSS **/
#skip {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

h4, p, q, small, nav, button, form {
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3 {
    font-family: "Molle", cursive;
    font-weight: 400;
    font-style: italic;
}

header {
    background: linear-gradient(#55BCD5, white);
}

#plan {
    background-color: #F6D64A;
}

#plan section {
    background-color: #55BCD5;
}

#about {
    background-color: #499BD2;
}

footer {
    background-color: #EAEAEA;
}

.required {
    color: #9B26B0;
}

form [type="text"], form [type="tel"], form [type="email"], select {
    border: 2px solid #9B26B0;
}

#mySubmit {
    color: white;
    background-color: #9B26B0;
    border: none;
}

#toggle {
    display: none;
    
}

#toggle ~ label {
    background-color: #F6D64A;
    
    
}

nav ul {
    max-height: 0;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    position: absolute;
    top: 4.25em;
    right: 0;
    font-size: 1.3em;
}

#toggle:checked ~ ul {
    max-height: 800px;
}

nav li {
    display: block;
    background-color: #55BCD5;
}

nav a {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
    font-weight: 900;
    height: 80px;
    transition: background-color .2s ease;
}

nav a:hover {
    background-color: #499BD2;
    
}

[for="toggle"] {
    text-transform: uppercase;
    display: flex;
    height: 60px;
    width: 300px;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    position: absolute;
    top: 1.3em;
    right: 0;
    font-size: 1.3em;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    }

h1 {
    font-size: 5em;
    color: #222222;
    margin-left: 50px;
    margin-top: 30px;
}

header p {
    color: #222222;
    font-size: 2em;
    margin-left: 50px;
    margin-right: 70px;
    line-height: 1.5em;
}

header {
    height: 400px;
}

nav label {
    height: 200px;
}

#intro h2 {
    font-size: 4em;
    margin-left: 50px;
    margin-bottom: 20px;
}

#intro p {
    font-size: 1.7em;
    margin-left: 50px;
    color: #222222;
    line-height: 1.5em;
    margin-right: 50px;
}

#img-grid img {
    width: 100%;
}

#img-grid picture img {
    width: 200%;
    
    display: flex;
    justify-items: center;
    align-content: center;
}

@media screen and (min-width: 768px) {
    body {
        background-color: green;
    }
}

@media screen and (min-width: 1280px) {
    body {
        background-color: red;
    }
}